<div class="row my-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">總金額</h1>
      <div class="list-container">
        <ul class="list-group list-group-flush">            
          {{#each expense}}
          <li class="list-group-item">
            <i class="fa-solid me-2"></i>
            <div class="per-expense">
              {{this.date}}
              {{this.name}}
              {{this.amount}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="add-button">
  <form action="">
    <button type="submit"></button>
  </form>
</div>
