<div class="row my-4">
  <div class="col-md-4 m-auto mb-3">
    <div class="card card-body">
      
      <h1 class="text-center mt-3">請輸入你的支出</h1>
      
      <div class="form-container d-flex justify-content-center p-0 mt-3">
        <form action="/expenses" method="POST" class="row w-50 mt-3" id="input-container">
        
          <div class="input-group mb-3 p-0">
            <span class="input-group-text" id="inputGroup-sizing-default">名稱</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" name="name" placeholder="蛤？又買啥？" maxlength="15" required="required">
          </div>
        
          <div class="input-group mb-3 p-0">
            <span class="input-group-text" id="inputGroup-sizing-default">日期</span>
            <input type="date" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" name="date" placeholder="怎麼那麼閒又去買東西" maxlength="15"
              required="required">
          </div>
        
          <div class="input-group mb-3 p-0">
            <span class="input-group-text" id="inputGroup-sizing-default">類型</span>
            <select class="form-select" aria-label="Default select example" id="categoryDataList" name="categoryId">
              <option value="" selected>選個類別吧</option>
              <option value="1">家居物業</option>
              <option value="2">交通出行</option>
              <option value="3">休閒娛樂</option>
              <option value="4">餐飲食品</option>
              <option value="5">其他</option>
            </select>
          </div>
        
          <div class="input-group mb-3 p-0">
            <span class="input-group-text" id="inputGroup-sizing-default">金額</span>
            <input type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" name="amount" placeholder="說！花了多少錢！" required="required">
          </div>
        
          <div class="container d-flex justify-content-center my-3">
            <form action="/expenses" method="POST">
              <button type="submit" class="btn btn-secondary mx-2">新增</button>
              <a href="/" class="btn btn-primary">返回</a>
            </form>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>